<div icsm-toolbar>
	<div class="row toolBarGroup">
		<div class="btn-group searchBar" ng-show="root.whichSearch != 'region'">
			<div class="input-group" geo-search>
				<input type="text" ng-autocomplete ng-model="values.from.description" options='{country:"au"}'
							size="32" title="Select a locality to pan the map to." class="form-control" aria-label="...">
				<div class="input-group-btn">
    				<button ng-click="zoom(false)" exp-ga="['send', 'event', 'icsm', 'click', 'zoom to location']"
						class="btn btn-default"
						title="Pan and potentially zoom to location."><i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>

		<div class="pull-right">
			<div class="btn-toolbar radCore" role="toolbar"  icsm-toolbar>
				<div class="btn-group">
					<!-- < icsm-state-toggle></icsm-state-toggle> -->
				</div>
			</div>

			<div class="btn-toolbar" style="margin:right:10px;display:inline-block">
				<div class="btn-group" title="{{overlaytitle}}">
					<span class="btn btn-default" common-baselayer-control max-zoom="16"></span>
				</div>
			</div>
		</div>
	</div>
</div>