.altthemes-icon {
  background: url("../../../resources/img/dbl_sprites.svg") no-repeat;
  display: inline-block;
  width: 40px;
  height: 62px;
  margin: 0 auto 0 auto;
}

.altthemes-pin {
  background-position: 0px;
}

.altthemes-map {
  background-position: -40px;
}

.altthemes-crosshair {
  background-position: -80px;
}

.altthemes-sign {
  background-position: -120px;
}

.altthemes-parcel {
  background-position: -160px;
}

.altthemes-satellite {
  background-position: -200px;
}

.altthemes-ship {
  background-position: -240px;
}

.altthemes-water {
  background-position: -280px;
}

.altthemes-shore {
  background-position: -320px;
}

.altthemes-land {
  background-position: -360px;
}


@media only screen and (max-width:1200px) {
  .altthemes-icon {
    background: url("../../../resources/img/alt-sprites.svg") no-repeat;
    display: inline-block;
    width: 25px;
    height: 40px;
    margin: 0 auto 0 auto;
  }

  .altthemes-pin {
    background-position: 0px;
  }

  .altthemes-map {
    background-position: -25px;
  }

  .altthemes-crosshair {
    background-position: -50px;
  }

  .altthemes-sign {
    background-position: -75px;
  }

  .altthemes-parcel {
    background-position: -100px;
  }

  .altthemes-satellite {
    background-position: -125px;
  }

  .altthemes-ship {
    background-position: -150px;
  }

  .altthemes-water {
    background-position: -175px;
  }

  .altthemes-shore {
    background-position: -200px;
  }

  .altthemes-land {
    background-position: -225px;
  }

}

.altthemesItemCompact {
	 margin-top: 0px !important;
}

.altthemesdropdown {
	margin-top: -8px;
	padding-right: 20px;
	z-index:100000;
}

.altthemesdropdown .altthemescurrent {
	color: #fff;
	background-color: #777;
}
