.main-body {
   position: fixed;
   top: 85px;
   left: 0px;
   right: 0px;
   bottom: 8px;
   overflow-y: auto;
}

.point-at-box {
    transform: rotate(-35deg);
}

@media screen and (max-width: 990px) {
   .point-at-box {
      transform: rotate(135deg);
   }
}

span.mandatory {
  content:"*";
  color:red;
}